<h1>Bienvenido al Juego!</h1>
<h3>Escoge el deck que quieres usar!</h3>
<form action="/game" method="post">
  <input type="radio" name="deck_type" value="Historia" checked> Historia<br>
  <input type="radio" name="deck_type" value="Espa침ol" > Espa침ol<br>
  <input type="radio" name="deck_type" value="Matem치ticas" > Matem치ticas<br><br>
  <input type="submit" value="Jugar!">
</form>